.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  justify-content: space-between;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
