/* Order form */
.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.cart-form {
  background-color: hsl(13deg 86% 74% / 35%);
  border-radius: 1rem;
}
.order-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.order-block-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.order-block-step {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
}
.order-block-outer-container {
  padding: 2rem 1rem;

  border-radius: 1rem;
  background-color: hsl(13deg 37% 69% / 1);
}
.order-block-inner-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order-block-inputs {
  display: flex;
  gap: 2rem;
}
.order-block-input {
  padding: 0.5rem 1rem;
  width: 100%;

  border-radius: 0.5rem;
  border: none;
}
.order-block-radios {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.order-block-radio {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.order-block-input[type="radio"] {
  width: 20px;
  height: 20px;
}
.order-block-radio-signature span {
  font-size: 0.8rem;
  color: darkgray;
}
.order-block-inputs.with-radios {
  flex-direction: column;
}

/* Cart itself */
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.order-review {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}
.order-review::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: rgba(255, 255, 255, 0.01); /* Полупрозрачный белый фон */
  backdrop-filter: blur(10px) opacity(0.7);
  border-radius: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.cart-placeholder {
  font-size: 1.25rem;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  font-size: 1.1rem;
  border: 2px dashed lightcoral;
  border-radius: 0.75rem;
}
.order-summary-header {
  margin-bottom: 1rem;
}
.payment {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.attention {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  background-color: hsl(52deg 100% 50% / 40%);
  border-radius: 1rem;
}
.attention-header {
  font-weight: bold;
  font-size: 1.4rem;
}
