<article class="main-container">
  <section class="section">
    <h2 class="heading">Контакты</h2>
    <ul class="list">
      <li class="contacts-item">
        <div class="contact-container">
          <span class="contact-type">Телефон:</span>
          <a class="phone-number" href="tel: +79807016708">+7(980)701-67-08</a>
        </div>
      </li>
      <li class="contacts-item">
        <div class="contact-container">
          <span class="contact-type">Электронная почта:</span>
          <a class="phone-number" href="mailto: abcde@gmail.com"
            >abcde@gmail.com</a
          >
        </div>
      </li>
      <li class="contacts-item">
        <div class="contact-container">
          <span class="contact-type">Мессенджеры:</span>
          <a class="phone-number" href="tel: +71234567890">+7(123)456-78-90</a>
          <ul class="contact-messengers">
            <li class="contact-messenger-item">
              <a
                class="contact-messenger-link"
                href="https://www.whatsapp.com/"
              >
                <img
                  class="contact-messenger-icon"
                  src="../../../assets/icons/whatsapp.svg"
                  alt=" "
                />
              </a>
            </li>
            <li class="contact-messenger-item">
              <a
                class="contact-messenger-link"
                href="https://www.viber.com/ru/"
              >
                <img
                  class="contact-messenger-icon"
                  src="../../../assets/icons/viber.svg"
                  alt=" "
                />
              </a>
            </li>
            <li class="contact-messenger-item">
              <a class="contact-messenger-link" href="https://telegram.org">
                <img
                  class="contact-messenger-icon"
                  src="../../../assets/icons/telegram.svg"
                  alt=" "
                />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-item">
        <div class="contact-container">
          <span class="contact-type">Социальные сети:</span>
          <span class="contact-text">flowerShop76</span>
          <ul class="contact-messengers">
            <li class="contact-messenger-item">
              <a class="contact-messenger-link" href="https://vk.com">
                <img
                  class="contact-messenger-icon"
                  src="../../../assets/icons/vk.svg"
                  alt=" "
                />
              </a>
            </li>
            <li class="contact-messenger-item">
              <a class="contact-messenger-link" href="https://instagram.com">
                <img
                  class="contact-messenger-icon"
                  src="../../../assets/icons/insta.svg"
                  alt=" "
                />
              </a>
            </li>
            <li class="contact-messenger-item">
              <a class="contact-messenger-link" href="https://facebook.com">
                <img
                  class="contact-messenger-icon"
                  src="../../../assets/icons/facebook.svg"
                  alt=" "
                />
              </a>
            </li>
            <li class="contact-messenger-item">
              <a class="contact-messenger-link" href="https://ok.com">
                <img
                  class="contact-messenger-icon"
                  src="../../../assets/icons/ok.svg"
                  alt=" "
                />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-item">
        <div class="contact-container">
          <span class="contact-type">Реквизиты:</span>
          <span class="contact-text">ИП: Карпов Антон Сергеевич</span>
          <span class="contact-text">ИНН: 770801234567</span>
        </div>
      </li>
    </ul>
  </section>

  <section class="section">
    <h2 class="heading">Магазины в Ярославле</h2>
    <ul class="list">
      <li class="shops-item">
        <div class="shop-container">
          <img
            class="img shop-image"
            src="../../../assets/images/flower-shop-1.jpg"
            alt="Магазин цветов Flower Shop 1"
          />
          <div class="shop-info">
            <h3 class="shop-address">улица Строителей, 18</h3>
            <span class="shop-status closed">Закрыто</span>
            <p class="shop-schedule">Ежедневно с 9:00 до 21:00</p>
          </div>
        </div>
      </li>
      <li class="shops-item">
        <div class="shop-container">
          <img
            class="img shop-image"
            src="../../../assets/images/flower-shop-2.jpg"
            alt="Магазин цветов Flower Shop 2"
          />
          <div class="shop-info">
            <h3 class="shop-address">улица Красная, 7а</h3>
            <span class="shop-status opened">Открыто</span>
            <p class="shop-schedule">Ежедневно с 8:00 до 22:00</p>
          </div>
        </div>
      </li>
      <li class="shops-item">
        <div class="shop-container">
          <img
            class="img shop-image"
            src="../../../assets/images/flower-shop-3.jpg"
            alt="Магазин цветов Flower Shop"
          />
          <div class="shop-info">
            <h3 class="shop-address">улица Матросова, 14</h3>
            <span class="shop-status closed">Закрыто</span>
            <p class="shop-schedule">Ежедневно с 9:00 до 23:00</p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</article>
