<header class="header">
  <div class="first-header">
    <app-logo class="logo"></app-logo>
    <nav>
      <ul class="nav">
        <li>
          <a routerLink="/about-us" routerLinkActive="link-active">О нас</a>
        </li>
        <li>
          <a routerLink="/delivery" routerLinkActive="link-active"
            >Доставка и оплата</a
          >
        </li>
        <li>
          <a routerLink="/feedback" routerLinkActive="link-active"
            >Отзывы клиентов</a
          >
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="link-active">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="tel-container">
      <a class="social-link phone-number" href="tel: +79807016708"
        ><img
          class="social-link-image"
          src="../../../assets/icons/calling-phone.svg"
          alt=""
        />+79807016708</a
      >
    </div>
    <div class="cart-container">
      <a routerLink="/cart" routerLinkActive="link-active"
        ><img
          class="img cart-icon"
          src="../../../assets/icons/cart-basket.svg"
          alt=" "
      /></a>
      <span>{{ this.cartProductsPrice || 0 }}₽</span>
    </div>
    <!-- <button class="btn" (click)="this.dataService.setNewCartProducts([])">
      Clear local cartProducts stream
    </button> -->
  </div>
  <div class="second-header">
    <nav>
      <ul class="categories">
        <li>
          <a
            routerLink="/products"
            [queryParams]="{ categoryId: 1, categoryName: 'Розы' }"
            routerLinkActive="link-active"
            >Розы</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            [queryParams]="{ categoryId: 2, categoryName: 'Букеты' }"
            routerLinkActive="link-active"
            >Букеты</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            [queryParams]="{ categoryId: 3, categoryName: 'Композиции' }"
            routerLinkActive="link-active"
            >Композиции</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            [queryParams]="{
              categoryId: 4,
              categoryName: 'Горшечные растения'
            }"
            routerLinkActive="link-active"
            >Горшечные растения</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            [queryParams]="{ categoryId: 5, categoryName: 'Подарки' }"
            routerLinkActive="link-active"
            >Подарки</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
