<div class="container">
  <h2>Каталог</h2>
  <div class="categories">
    <a
      class="categories-link"
      routerLink="/products"
      [queryParams]="{ categoryName: 'Розы' }"
    >
      <div class="category">
        <h3 class="category-title">Розы</h3>
      </div>
    </a>

    <a
      class="categories-link"
      routerLink="/products"
      [queryParams]="{ categoryName: 'Букеты' }"
    >
      <div class="category">
        <h3 class="category-title">Букеты</h3>
      </div>
    </a>

    <a
      class="categories-link"
      routerLink="/products"
      [queryParams]="{ categoryName: 'Композиции' }"
    >
      <div class="category">
        <h3 class="category-title">Композиции</h3>
      </div>
    </a>
    <a
      class="categories-link"
      routerLink="/products"
      [queryParams]="{ categoryName: 'Горшечные растения' }"
    >
      <div class="category">
        <h3 class="category-title">Горшечные растения</h3>
      </div>
    </a>
    <a
      class="categories-link"
      routerLink="/products"
      [queryParams]="{ categoryName: 'Подарки' }"
    >
      <div class="category">
        <h3 class="category-title">Подарки</h3>
      </div>
    </a>
  </div>
</div>
