.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 1rem;
  height: 600px;

  border-radius: 16px;
  background-color: rgb(223, 223, 223);
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 500px;
}
.card-img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.card-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-description {
  overflow: auto;
}
.card-signature,
.card-price {
  font-size: 1.75rem;
}
.card-signature {
  font-weight: bold;
}
.card-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
}
