<div class="card-container glass-like">
  <div class="card-content">
    <a
      routerLink="product"
      [queryParams]="{
        productId: product.productId,
        categoryName: product.category.categoryName
      }"
    >
      <img
        class="img card-img"
        [src]="product.imgUrl"
        [alt]="product.productName"
    /></a>
    <div class="card-summary">
      <p class="card-signature">{{ product.productName }}</p>
      <p class="card-price">{{ product.price }}₽</p>
    </div>
    <p class="card-description">
      {{ product.productDescription }}
    </p>
  </div>
  <div class="card-buttons">
    <button class="btn card-button" (click)="deleteProduct()">
      <!-- Изменить структуру путей -->
      <img src="../../../assets/icons/trash-bin.svg" alt=" " />
    </button>
    <!-- <button class="btn card-button" (click)="updateProduct()">
      <img src="../../../assets/icons/" alt=" " />
    </button> -->
    <app-product-buttons
      class="card-button"
      [product]="product"
    ></app-product-buttons>
  </div>
</div>
