<div class="main-container">
  <section class="section">
    <div class="left-column">
      <h1>О нас</h1>
      <p>
        Flower shop — это современный, динамично развивающийся цветочный
        магазин, который существует на рынке более 15 лет. За это время мы
        завоевали доверие тысячи клиентов и продолжаем укреплять свои позиции в
        цветочном деле. Для нас это не просто работа, это возможность дарить
        радость людям и видеть счастье в их глазах
      </p>
    </div>
    <div class="image-container">
      <img
        class="img flower-seller"
        src="../../../assets/images/flower-shop-seller.jpg"
        alt="Продавщица цветов"
      />
    </div>
  </section>

  <section class="section but-flex">
    <div class="achivement">
      <span class="big-digit">1</span>
      <p class="text">
        15+ лет<br />
        на рынке<br />
        цветов
      </p>
    </div>

    <div class="achivement">
      <span class="big-digit">2</span>
      <p class="text">
        50+ видов<br />
        цветов<br />
        в наличии
      </p>
    </div>

    <div class="achivement">
      <span class="big-digit">3</span>
      <p class="text">
        200 000+ довольных<br />
        клиентов
      </p>
    </div>
  </section>

  <section class="section">
    <div class="left-column">
      <p class="text">
        В наших магазинах всегда представлен большой выбор цветов: более 40
        сортов роз, хризантемы, альстромерии, лилии, герберы и многое другое.
        Нам очень важно, чтобы посетитель нашел то, что ему нужно. У нас гибкая
        ценовая политика, регулярно проходят акции, и мы готовы подобрать букет
        на любой, даже самый скромный бюджет. Наши флористы имеют большой опыт
        работы и всегда окажут грамотную консультацию.
      </p>
    </div>
    <div>
      <p class="text">
        В каталоге представлен широкий выбор букетов и композиций: от
        монобукетов из роз до сборных букетов из экзотических цветов. Если вы не
        смогли определиться с выбором, наши флористы могут составить букет,
        исходя из вашего бюджета и предпочтений. Для этого заполните форму на
        сайте или позвоните нам, и мы с радостью окажем консультацию.
      </p>
    </div>
  </section>

  <section class="section nice-backdrop">
    <div class="left-column last">
      <h2>Подарок на любой вкус</h2>
      <p class="text">
        Для любителей горшечных растений на нашем сайте создан соответствующий
        раздел с популярными комнатными растениями. Кроме того, вы можете
        приобрести у нас мягкие игрушки, гелиевые шары, открытки, подарочные
        корзины и многое другое. Все это — в лучшем виде и с доставкой по
        городу.
      </p>
      <p class="text"><b>Дарите близким радость вместе с нами!</b></p>
      <button class="btn">Подобрать букет</button>
    </div>

    <div class="image-container">
      <img
        class="img flower-girl"
        src="../../../assets/images/girl-with-flowers-5.jpg"
        alt="Девушка с цветами"
      />
    </div>
  </section>
</div>
