.product {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;

  border-bottom: 3px dashed lightslategray;
}
.product:last-child {
  border: none;
}
.product-img {
  max-width: 250px;
  max-height: 250px;

  border-radius: 8px;
}
.product-actions {
  display: flex;
  gap: 32px;
  align-items: center;
}
