<div class="product">
  <a
    routerLink="/products/product"
    [queryParams]="{
      id: cartProduct.id,
      category: cartProduct.category.name
    }"
    ><img class="img product-img" [src]="cartProduct.imgUrl"
  /></a>

  <div class="product-info">
    <h3 class="product-title">{{ cartProduct.name }}</h3>
    <div class="pdoduct-description">
      {{ cartProduct.description }}
    </div>
    <div class="product-actions">
      <app-product-buttons [product]="cartProduct"></app-product-buttons>
    </div>
  </div>
</div>
