<div class="main-container">
  <h1 class="leave-feedback-heading">Отзывы клиентов</h1>
  <section class="leave-feedback-container">
    <div class="leave-feedback">
      <p class="leave-feedback-text">
        Расскажите о ваших впечатлениях и предложениях. <br />Ваше мнение очень
        важно для нас!
      </p>
      <button class="btn">Написать отзыв</button>
    </div>
    <div class="contacts">
      <p class="contacts-text">
        Больше отзывов в наших <br />
        социальных сетях:
      </p>
      <ul class="social-links">
        <li>
          <a href="https://vk.com/">
            <img
              class="social-icon"
              src="../../../assets/icons/vk.svg"
              alt="Ссылка на группу Вконтакте"
            />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com">
            <img
              class="social-icon"
              src="../../../assets/icons/insta.svg"
              alt="Ссылка на группу Вконтакте"
            />
          </a>
        </li>
        <li>
          <a href="https://ok.ru/">
            <img
              class="social-icon"
              src="../../../assets/icons/ok.svg"
              alt="Ссылка на группу Вконтакте"
            />
          </a>
        </li>
        <li>
          <a href="https://facebook.com/">
            <img
              class="social-icon"
              src="../../../assets/icons/facebook.svg"
              alt="Ссылка на группу Вконтакте"
            />
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="comments-container">
    <article class="comment-container">
      <div class="avatar">
        <img
          class="img profile-photo"
          src="../../../assets/images/bum-1.jpg"
          alt="Фото профиля бездомного человека"
        />
      </div>
      <div class="comment-info">
        <a class="comment-fullname" href="https://vk.com/">
          <img
            class="social-icon"
            src="../../../assets/icons/vk.svg"
            alt="Ссылка на Петра Вахрудонова"
          />
          <h3 class="comment-fullname">Пётр Вахрудонов</h3>
        </a>
        <span class="comment-date">21.04.2024</span>
        <p class="comment-text">
          Потрясающий выбор цветов! Очень быстрая доставка, упаковка выше всяких
          похвал. Обязательно закажу здесь снова. Отдельно хочу отметить
          вежливость и профессионализм персонала — было очень приятно общаться.
        </p>
        <p class="comment-text">
          Видно, что в этом магазине работают настоящие профессионалы своего
          дела.
        </p>
      </div>
    </article>
    <article class="comment-container">
      <div class="avatar">
        <img
          class="img profile-photo"
          src="../../../assets/images/bum-2.jpg"
          alt="Фото профиля бездомного человека"
        />
      </div>
      <div class="comment-info">
        <a class="comment-fullname" href="https://www.instagram.com/">
          <img
            class="social-icon"
            src="../../../assets/icons/insta.svg"
            alt="Ссылка на Галину Петровну"
          />
          <h3 class="comment-fullname">Галина Петровна</h3>
        </a>
        <span class="comment-date">25.04.2024</span>
        <p class="comment-text">
          Я в восторге от вашего онлайн-магазина цветов! Здесь представлен
          огромный выбор самых разнообразных букетов и композиций, которые
          радуют глаз и поднимают настроение.
        </p>
        <p class="comment-text">
          Особенно хочется отметить быструю доставку — заказ привезли точно в
          срок, как и было обещано. Упаковка была выполнена аккуратно и
          профессионально, что позволило сохранить свежесть цветов. Также хочу
          выразить благодарность персоналу магазина за вежливость и
          профессионализм. Консультанты были очень внимательны ко всем моим
          пожеланиям и помогли выбрать идеальный букет. Обязательно буду
          рекомендовать ваш магазин друзьям и знакомым и планирую делать заказы
          в будущем. Спасибо за вашу работу!
        </p>
        <p class="comment-text">
          Также хочу выразить благодарность персоналу магазина за вежливость и
          профессионализм. Консультанты были очень внимательны ко всем моим
          пожеланиям и помогли выбрать идеальный букет. Обязательно буду
          рекомендовать ваш магазин друзьям и знакомым и планирую делать заказы
          в будущем. Спасибо за вашу работу!
        </p>
        <p class="comment-text">
          Обязательно буду рекомендовать ваш магазин друзьям и знакомым и
          планирую делать заказы в будущем. Спасибо за вашу работу!
        </p>
      </div>
    </article>
  </section>
</div>
