<div class="main-container">
  <h1 class="delivery-heading">Доставка и оплата</h1>
  <section class="delivery">
    <div class="delivery-part">
      <h3 class="delivery-part-heading">Условия доставки</h3>
      <ul class="delivery-list">
        <li class="delivery-list-item">
          Прием заказов на сайте осуществляется круглосуточно
        </li>
        <li class="delivery-list-item">
          Обработка заказов происходит в рабочие часы магазина с 8.00 до 23.00
        </li>
        <li class="delivery-list-item">
          Доставка возможна ежедневно с 9.00 до 23.00
        </li>
        <li class="delivery-list-item">Временной интервал доставки — 1 час</li>
      </ul>
    </div>
    <div class="delivery-part">
      <h3 class="delivery-part-heading">Стоимость доставки</h3>
      <ul class="delivery-list">
        <li class="delivery-list-item">
          Доставка по городу Ярославль при заказе через сайт осуществляется за
          300 ₽.
        </li>
        <li class="delivery-list-item">
          Доставка к точному времени оплачивается дополнительно + 100 ₽.
        </li>
        <li class="delivery-list-item">
          Доставка за пределы города, либо в отдаленные районы рассчитывается
          индивидуально.
        </li>
        <li class="delivery-list-item">
          Стоимость и условия можно уточнить у наших менеджеров по телефону:<br />
          <a class="phone-number" href="tel: +74852995555"
            >+7 (4852) 99-55-55</a
          >
        </li>
      </ul>
    </div>
    <div class="delivery-part">
      <h3 class="delivery-part-heading">Доставка в праздничные дни</h3>
      <ul class="delivery-list">
        <li class="delivery-list-item">
          В связи с повышенной нагрузкой в праздничные дни (14 февраля, 7 и 8
          марта, 1 сентября, День матери) доставка осуществляется в промежуток
          времени 2–3 часа, без указания точного времени.
        </li>
        <li class="delivery-list-item">
          Фото перед отправкой не предоставляется. Минимальная сумма заказа —
          1500 ₽.
        </li>
      </ul>
    </div>
    <div class="delivery-part">
      <h3 class="delivery-part-heading">Оплата</h3>

      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 2rem;
          max-width: 60ch;
        "
      >
        <p>
          Оплата при оформлении заказа с доставкой осуществляется заранее в
          полном размере любым удобным способом:
        </p>
        <ul class="delivery-list">
          <li class="delivery-list-item">Переводом на банковскую карту</li>
          <li class="delivery-list-item">
            Безналичный расчет через систему Яндекс.Касса
          </li>
          <li class="delivery-list-item">Электронные кошельки</li>
          <li class="delivery-list-item">
            Перевод на расчетный счет (для юридических лиц)
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
